absl-py==0.15.0
astor==0.8.1
backports.functools-lru-cache==1.6.4
backports.weakref==1.0.post1
colormath==3.0.0
cycler==0.10.0
decorator==4.4.2
enum34==1.1.10
flatbuffers==1.12
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.3.0
gast==0.2.2
google-pasta==0.2.0
grpcio==1.41.1
h5py==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==2.2.5
mock==3.0.5
networkx==2.2
numpy==1.16.6
opencv-python==4.2.0.32
opt-einsum==2.3.2
Pillow==6.2.2
protobuf==3.17.3
pybind11==2.8.1
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.3
six==1.16.0
subprocess32==3.5.4
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.0
termcolor==1.1.0
tf-slim==1.0
tflite-support==0.1.0rc4
tqdm==4.62.3
Werkzeug==1.0.1
wrapt==1.13.3
